.logo {
  margin: auto;
}

.logo a {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);
}

@media all and (max-width: 600px) {
  .logo img {
    width: 90px;
  }
}
