### IDE Files ###
.idea
*.iml
.vscode

### Build artifacts ###
/public
/private
!/public/favicon-192x192.png

### NPM files ###
/node_modules
npm-debug.log

### Settings ###
/src/settings/index.ts

### Typings ###
/typings
