### IDE Files ###
.idea
*.iml
.vscode

### Build artifacts ###
/public/dist
/public/robots.txt
/private

### NPM files ###
/node_modules
npm-debug.log

### Settings ###
/src/settings/index.ts

### Typings ###
/typings
