### IDE Files ###
.idea
*.iml
.vscode

### Build artifacts ###
/public/dist/app.css
/public/dist/index.js
/public/dist/server.js

### NPM files ###
/node_modules
npm-debug.log

### Settings ###
/src/settings/settings.ts

### Typings ###
/typings
