.footer {
  padding: 9px 0;
  height: 43px;
  border-top: 1px solid #d9d9d9;
  text-align: center;
  background: #fff;
  display: flex;
}

.footerSocial {
  margin: auto;
}

.footerLink {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 31px;
  height: 24px;
  color: #959595;
}

.footerLink:first-child {
  margin-left: 0;
}

@media all and (max-width: 600px) {
  .footer {
    padding: 9px 0;
  }
}
