.header {
  display: flex;
  background: #fff;
  padding: 2.6% 0 1.1%;
}

@media all and (max-width: 600px) {
  .header {
    height: 138px;
    padding: 4.6% 0 3.1%;
    position: fixed;
    width: 100%;
  }
}
