.markdown {

}

.markdown p {

}

.markdown strong {

}

.markdown :global .wk_header {
    font-family: 'Open Sans', sans-serif;
    /*composes: h1;*/
    display: block;
    font-size: 1.5em;
    /*-webkit-margin-before: 0.67em;*/
    -webkit-margin-after: 0.67em;
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    font-weight: 400;
}

.markdown :global .wk_sub_header {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 1.25em;
    /*-webkit-margin-before: 0.83em;*/
    -webkit-margin-after: 0.83em;
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    font-weight: bold;
}

.markdown :global .wk_sub_sub_header {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 1.10em;
    /*-webkit-margin-before: 1em;*/
    -webkit-margin-after: 1em;
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    font-weight: bold;
}
