.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;


  text-decoration: none;
  color: #fff;
  background-color: #4B93B1;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;

  position: relative;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}

.btn:hover {
  background: rgba(75, 147, 177, 0.88);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.btn.hint::after {
  transition: all .3s ease-out;
  content: attr(data-title);
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: 3px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 11px;
  padding: 0 7px;
  border: 1px solid #000;
  border-radius: 2px;
  opacity: 0;
}

.btn.hint:hover::after {
  opacity: 1;
}

.btn[disabled] {
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.error {
  composes: btn;
  background-color: #F44336 !important;
}

.white {
  composes: btn;
  background-color: #fcfcfc;
  color: #6b747e;
  border: none;
}

.buttonList {
  white-space: nowrap;
}

.buttonList button:not(:last-child) {
  margin-right: 10px;
}
