.shoppingCart {
    width: 100%;
    background: rgba(255, 255, 255, .8);
}

.productsList {

}

.product {
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #fff;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    height: 95px;
}

.product:first-child {
    margin-top: 0;
}

.productPhoto {
    width: 80px;
    min-width: 80px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.productInfo {
    display: flex;
    flex: 1;
    height: 100%;
}

.productDescriptionWrap {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.productTitle {
    color: #585858;
    font-size: 16px;
    line-height: 20px;
}

.productTitle a {
    color: inherit;
}

.productDescription {
    padding: 5px 0;
}

.productPrice {
    width: 90px;
    display: flex;
}

.productQuantity {
    width: 100px;
    display: flex;
}

.productQuantity > div {
    margin: auto 0;
}

.price {
    font-size: 15px;
    margin: auto 0;
}

.productButtons {
    width: 70px;
    text-align: center;
    display: flex;
}

.productButtons a {
    cursor: pointer;
    margin: auto 0;
}

.listHeader {
    padding: 0 10px 5px;
    display: flex;
    font-size: 11px;
}

.sum {
    font-size: 16px;
    margin: 18px 0;
    text-align: right;
}

.sum span {
    font-weight: bold;
}

@media all and (max-width: 600px) {
    .product {
        height: auto;
        flex-wrap: wrap;
    }

    .productInfo {
        width: 100%;
        flex: auto;
        display: block;
        margin-bottom: 5px;
    }

    .productPhoto {
        height: 80px;
        float: left;
        margin-right: 10px;
    }

    .productDescriptionWrap {
        display: block;
    }

    .productPrice {
        flex: 1;
        text-align: center;
    }

    .price {
        margin: auto;
    }
}
