.shoppingCartBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background:  rgba(0, 0, 0, 0.6);
    height: 43px;
    z-index: 21;
}

.wrap {
    height: 100%;
    position: relative;
}

.cart {
    position: absolute;
    right: 0;
    padding: 7px;
    text-align: right;
    color: #fff;
}

.title {
    display: inline-block;
    font-size: 15px;
    line-height: 17px;
}

.count {
    display: inline-block;
    line-height: 17px;
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 10px;
    border-radius: 3px;
    margin: 0 8px;
}

.sum {
    display: inline-block;
    line-height: 17px;
    margin-right: 20px;
}

.titleIcon {
    height: 31px;
    width: 33px;
    display: inline-block;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.93);
}

.cartSocial {
    /*margin: auto;*/
    padding: 10px 0;
}

.cartLink {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 23px;
    color: rgba(255, 255, 255, 0.93);
}

.cartLink:first-child {
    margin-left: 0;
}

.btnText {
    display: block;
}

.btnIcon {
    display: none;
}

@media all and (max-width: 600px) {
    .titleIcon {
        display: none;
    }

    .cartSocial {
        display: none;
    }

    .btnText {
        display: none;
    }

    .btnIcon {
        composes: titleIcon;
        height: 26px;
        display: block;
        margin: 0 -18px;
    }
}
