.market {
    width: 100%;
    background: rgba(255, 255, 255, .8);
}

.marketList {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2%;
}

.marketItem {
    padding: 2%;
    /*flex-grow: 1;*/
    flex-basis: 25%;
}

.margetItem .marketPhoto {
    height: 180px;
}

.marketPhoto img {
    width: 100%;
    object-fit: cover;
}

.title {

}

.inner {
    width: 100%;
}

@media all and (max-width: 800px) {
    .marketList {
        margin: 0 -1%;
    }

    .marketItem {
        padding: 1%;
        flex-basis: 33.3%;
    }
}

@media all and (max-width: 600px) {
    .marketList {
        justify-content: space-between;
        margin: 0;
    }

    .marketItem {
        padding: 4% 0;
        flex-basis: 48%;
    }
}
