.market {
    width: 100%;
    background: rgba(255, 255, 255, .8);
}

.marketList {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: -1.3%;
}

.marketItem {
    padding: 1.3%;
    /*flex-grow: 1;*/
    flex-basis: 25%;
}

.margetItem .marketPhoto {
    height: 180px;
}

.marketPhoto {
    overflow: hidden;
    height: 200px;
}

.marketPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    color: #585858;
    font-size: 16px;
    margin: 8px 0 0;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
    display: flex;
}

.name span {
    margin: auto;
}

.price {
    /*text-align: right;*/
    font-size: 14px;
    line-height: 23px;
    padding: 0 10px 4px;
    color: #004B6B;
}

.inner {
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #fff;
    height: 100%;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.marketDetail {
    margin: auto;
    width: 900px;
    height: 500px;
    background-color: #FCFCFC;
    position: relative;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 42px 64px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 800px) {
    .marketList {
        margin: 0 -1%;
    }

    .marketItem {
        padding: 1%;
        flex-basis: 33.3%;
    }
}

@media all and (max-width: 600px) {
    .marketPhoto {
        height: 150px;
    }

    .marketList {
        justify-content: space-between;
        margin: 0;
    }

    .marketItem {
        padding: 4% 0;
        flex-basis: 48%;
    }
}
